.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.wrap{
    text-align: center;
    color: pink;
}

.content{
  text-align: center;
}

.footer{
    text-align: center;
}

